body {
  background-image: url('images/temp-back-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.main-content-div-box{
  background-color: #fefefe;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  padding-bottom: 70px;
  height: 50%;


}
.header-nav-bar{
  background-color: #b7b7b7; /*for testing and location reference, color needs to e changed after completing the page*/
  width: 100%;
  height: 47px;
  padding-top: 3px;
  overflow: hidden;
  position: relative;



}
a:link, a:visited {
  color: black; /*for testing and location reference, color needs to e changed after completing the page*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
} /* this code has been takken from w3school.com */

.nav-bar-logo-left{
  background-color: #545454; /*for testing and location reference, color needs to e changed after completing the page*/
  width: 201px;
  height: 40px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #fefefe;
  text-decoration: none;
  position: relative;
  float: left;
  

}
.button-logo:hover {background-color: #d3cdff} /*for testing and location reference, color needs to e changed after completing the page*/
.button-logo{
  font-size: 18px;
  height: 40px;
  background-color: #dbd9d9; /*for testing and location reference, color needs to e changed after completing the page*/
  border-radius: 10px;
  padding: 8px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
  position: relative;

}
.nav-bar-right-side-buttons{
  background-color: #545454; /*for testing and location reference, color needs to e changed after completing the page*/
  margin-right: 1px;
  height: 40px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 2px;
  font-weight: bold;
  position: relative;
  float: right;

}
.button-about-me:hover {background-color: #949494} /*for testing and location reference, color needs to e changed after completing the page*/
.button-contact-me:hover {background-color: #949494} /*for testing and location reference, color needs to e changed after completing the page*/


.button-about-me {
  background-color: #dbd9d9; /*for testing and location reference, color needs to e changed after completing the page*/
  border-radius: 8px;
  padding: 5px;
  width: 90px;
  height: 40px;
  cursor: pointer;
  position: relative;

}
.button-contact-me {
  background-color: #dbd9d9; /*for testing and location reference, color needs to e changed after completing the page*/
  border-radius: 10px;
  padding: 5px;
  width: 90px;
  height: 40px;
  cursor: pointer;
  position: relative;


}

.title-div-my-description{
  background-color: #cecbcb ; /*for testing and location reference, color needs to e changed after completing the page*/
  text-align: center;
  width: 50%;
  height: 110px;
  margin-left: 10px;
  margin-top: 5px; 
  margin-bottom: 5px;
  position: relative;



}

.title-text-my-description{
  font-family: Georgia, serif;
  margin-top: 1px;  
  position: relative;

}

.div-description-about-me{
  background-color: #cecbcb ; /*for testing and location reference, color needs to e changed after completing the page*/
  margin-left: 10px;
  margin-top: 10px;
  width: 630px;
  height: 200px;
  position: relative;


}

.paragraph-description-about-me{
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  width: 500px;
  margin-top: 1px;
  position: relative;

}
.my-profile-picture-rounded{
  border-radius: 50%;
  height: 60px;
  float: right;
  position: relative;
  margin-top: 50px;

}
